<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">Edit <%= resource_name.to_s.humanize %> </h2>

        <%= simple_form_for(resource, as: resource_name, url: new_user_registration_path, html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="field">
            <div class="control">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { class: "input" },
                          wrapper: false,
                          label_html: { class: "label" }
              %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :username,
                          required: true,
                          input_html: { class: "input" },
                          wrapper: false,
                          label_html: { class: "label" }
              %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email,
                          required: true,
                          input_html: { class: "input" },
                          wrapper: false,
                          label_html: { class: "label" }
              %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password,
                          required: true,
                          input_html: { class: "input" },
                          wrapper: false,
                          label_html: { class: "label" },
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
              %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { class: "input" },
                          wrapper: false,
                          label_html: { class: "label" }
              %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :current_password,
                          required: true,
                          input_html: { class: "input" },
                          wrapper: false,
                          label_html: { class: "label" }
              %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, "Update User", class: "button is-info is-medium"%>
            </div>
          </div>
        <% end %>
        <br>
      
        <div class="delete_account">
          <h2 class="title is-3">Delete My Account</h2>
          <p>
            <span>Unhappy?</span>
            <span> <%= link_to  "Delete my account", user_registration_path, method: :delete %> </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>