<article class="media box">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/64x64.png">
    </p>
    <p> <%= current_user.username if user_signed_in? %> </p>
  </figure>
  <div class="media-content">       
    <%= simple_form_for @twiit do |f| %>
      <%= f.error_notification %>
      <div class="field">
        <div class="control">
          <%= f.input :twiit,
                      label: 'Twiit about something',
                      input_html: {class: "textarea"},
                      wrapper: false, label_html: { class: "label"},
                      placeholder: "Compose a new twiit"
          %>
        </div>
      </div>
      <%= f.button :submit, class: "button is-info"%>
    <% end %>
  <div>
</article>